#main-container {
  width: 80%;
  margin: 30px auto;
}

/* Button */
.button-container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
